body {
    margin: 0;
    padding: 0;
  }
  
  #container {
     padding: 1rem;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
  }

.tab-contents {
  margin-top: 1rem;
}
  
fieldset {
  border: none;
  padding: 0;
}

fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin-top: 1rem;
  margin-bottom: 20px;
}

#create-person-phones {
  margin-bottom: 0;
}

#create-person-phones-row, #update-person-phones-row {
  margin-bottom: 10px;
}

.next-to-input-button {
  display: block;
  margin-top: 20px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
}

.content-container {
  margin-bottom: 2rem;
}

.content-container h2 {
  text-transform: uppercase;
}

.content-container form {
  margin: 0 -0.75rem;
  overflow:auto;
}

table tbody tr:last-of-type {
  border: none;
}

ul.pagination {
  margin-top: 30px;
}

ul.pagination li {
  background: #eee;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 40px;
}

.html-table-inner-container thead {
  background: #fff;
}

.html-table-inner-container.loading {
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #a0e5df
  }
}